.DS_Store

Dan/

iOS/xcuserdata/
iOS/StitchExamples.xcworkspace/xcuserdata/
iOS/*.xcscmblueprint
iOS/*.xccheckout
iOS/build/
iOS/DerivedData/
iOS/*.moved-aside
iOS/*.pbxuser
iOS/!default.pbxuser
iOS/*.mode1v3
iOS/!default.mode1v3
iOS/*.mode2v3
iOS/!default.mode2v3
iOS/*.perspectivev3
iOS/!default.perspectivev3
iOS/Pods/

Node/node_modules
NodeLocal/node_modules

ReactNative/node_modules
ReactNativeLocal/node_modules
ReactNativeLocal/


Android/*.iml
Android/.idea/workspace.xml
Android/.idea/tasks.xml

Android/.idea/gradle.xml
Android/.idea/assetWizardSettings.xml
Android/.idea/dictionaries
Android/.idea/libraries
Android/.idea/caches
Android/captures/
Android/.navigation/
Android/*.log
Android/.gradle/
Android/build/
Android/bin/
Android/gen/
Android/out/
Android/*.class
Android/*.dex
Android/*.apk
Android/*.ap_
Android/*.aab