.DS_Store

Dan/

iOS/xcuserdata/
iOS/StitchExamples.xcworkspace/xcuserdata/
iOS/*.xcscmblueprint
iOS/*.xccheckout
iOS/build/
iOS/DerivedData/
iOS/*.moved-aside
iOS/*.pbxuser
iOS/!default.pbxuser
iOS/*.mode1v3
iOS/!default.mode1v3
iOS/*.mode2v3
iOS/!default.mode2v3
iOS/*.perspectivev3
iOS/!default.perspectivev3
iOS/Pods/

JS/Browser/Angular/node_modules/
JS/Browser/React/node_modules/
JS/ReactNative/PureRN/node_modules/
JS/ReactNative/PureRN/android/
JS/ReactNative/PureRN/iOS/
JS/ReactNative/ExpoRN/node_modules/
JS/Server/Node/node_modules/
JS/Server/NodeLocal/node_modules/


Android/*.iml
Android/.idea/workspace.xml
Android/.idea/tasks.xml

Android/.idea/gradle.xml
Android/.idea/assetWizardSettings.xml
Android/.idea/dictionaries
Android/.idea/libraries
Android/.idea/caches
Android/captures/
Android/.navigation/
Android/*.log
Android/.gradle/
Android/build/
Android/bin/
Android/gen/
Android/out/
Android/*.class
Android/*.dex
Android/*.apk
Android/*.ap_
Android/*.aab